.contactDetailsPage {
    padding-top: 8vh;
    font-family: Exo,sans-serif;
    list-style: none;
    & h3{
        padding-left:10px;
    }
    & img{
        padding-left: 10px;
        border-radius: 50%;
    }
    & li{
        padding: 5px 5px 5px 20px;
    }
    & .buttons-container{
        display: flex;
        justify-content: space-between;
        padding: 20px 20px;
        & .button{
            text-decoration: none;
            color: black;
            transition: 0.3s;
        }
        & .button:hover{
            cursor: pointer;
            color: rgb(0, 0, 150);
        }
    }
    & a{
        color: black;
    }
}

.buttons{
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;
   
}

