.movesList {
    background-color: lightgray;
    border-radius: 10px 10px 10px 10px;
    margin: 3vw;
    & h1{
        padding: 10px 0 0 10px ;
        margin: 0;
    }
    & ul{
        margin: 0;
        padding: 20px;
        list-style: none;
        & li{
            padding: 5px;
            border: 1px solid;
            border-radius: 5px 5px 5px 5px;
            margin: 5px;
            & div{
                padding: 2px;
            }
        }
    }
}