.movesList {
    border-radius: 10px 10px 10px 10px;
    margin: 3vw;
    & h1{
        padding: 10px 0 0 10px ;
        margin: 0;
    }
    & ul{
        margin: 0;
        padding: 20px;
        list-style: none;
        & li{
            color: black;
            background-color: rgba(173, 216, 230, 0.753);
            width: 50vw;
            padding-right: 5px;
            border-radius: 10px 10px 10px 10px;
            margin: 5px;
            & div{
                padding: 2px;
            }
        }
    }
}
