.contact{
    list-style: none;
    padding: 5px;

a{
    text-decoration: none;
}
.contactPreview {
    display: flex;
    align-items: center;
    background: rgb(212, 237, 245);
    border-radius: 50px 50px 50px 50px;
    img{
    border-radius: 50%;
    max-width: 80px;
    }
    h2{
        color: black;
        text-decoration: none;
        padding-left: 5px; 
    }
    transition: 0.3s
}
.contactPreview:hover{
    background: rgb(151, 219, 241);
}
}