.homePage {
    background: url('../../assets/img/bitcoin-bg.jpg') no-repeat center center fixed ;
    height: 93vh;
    padding-top: 43px;
    padding-left:8px;
    color: white;
    font-family: Exo, sans-serif;
    font-size: 20px;
    & h4{
        margin-left: 2vw;
    }
}