.contactPage {
    padding-top: 8vh;
    & .addContactButton{
        text-decoration: none;
        position: fixed;
        bottom: 5vh;
        right:5vw;
        transition-duration: 0.4s;
        cursor: pointer;
        color: black;
    }
    .addContactButton:hover{
        color: blue;
        
    }
}